/*Design Reset*/
:root
{
    --yellow-color: #fcee09; 
    --red-color: #ff003c;
    --black-color: #050a0e;
    --blue-color: #00f0ff;
    --marine-blue-color:#122c5a;
    --orange-color: #fd9e41;
    --pink-color: #fc0ff5;
    --white-color: #fff;
}
html{box-sizing: border-box;}
body
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Tomorrow', serif;
    background: #0c1e3e;
}
ul,li, h1, h2
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a 
{
    font-size: 20px;
    text-decoration: none;
    color: var(--blue-color);
    transition: 0.5s;
}
li a:hover
{
    color: var(--pink-color);
}
/*NavBar Style*/
.nav-header-wrapper
{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: var(--yellow-color);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 0 18px 10px 0 rgba(0, 0, 0, 0.2);
    background: #122c5a;
    z-index: 1000;
}
.nav-brand{margin-left: 1em;}
.nav-link-wrapper
{
    display: flex;
    justify-content: space-evenly;
}
.nav-link-wrapper:last-child{ margin-right: 4em;}
.nav-link
{
    margin: 0 35px 0 15px;
}
/*Home Style*/
.home-wrapper
{
    height: 80vh;
    display: flex;
    padding: 10% 0 0 0;
    justify-content: space-between;
    background:url(images/cyberground.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--yellow-color);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 3;
    
}
.home-miniTitle{font-size: 24px; color: var(--orange-color);}
.left-column,.right-column{ flex-basis: 50%;}

.left-column
{
    
    padding: 0 5% 0 10%;
    margin: 0;
    font-size: 36px;
}
.left-column h2{font-size: 24px;}
.left-column h3
{
    font-size: 16px; 
    color: var(--orange-color); 
}
.right-column
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-column img
{
    width: 130%;
    margin: 0 50% 0 0;
}
.buttons-wrapper
{
    display:flex;
}
.cy-btn
{
    width: 230px;
    height: 60px; 
    border: 0;
    outline: none;
    background-color: var(--black-color);
    cursor: pointer;
    position: relative;
    margin-right: 25px;
    font-family: Tomorrow, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--black-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    box-shadow: 0 18px 10px 0 rgba(0, 0, 0, 0.2);
}
.btn_content 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color:var(--yellow-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
.red 
{
    background-color:var(--red-color);
    color: var(--white-color);
}
/*ABOUT STYLE*/
.about-wrapper
{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 5% 0 0 0;
    justify-content: space-between;
    align-items: center;
    background:url(images/aboutBG.jpg);
    background-size: cover;
    color: var(--pink-color);
    z-index: 2;
}
.about-box-wrapper
{
    width: 80%;
    height: 40%; 
    border: 0;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0 auto 50px;
    padding: 50px;
    font-family: Tomorrow, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--pink-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    
}
.story-wrapper
{
    height: 40%;
    margin: auto
}
.story-wrapper h3
{
    font-size: 24px;
}
.story-wrapper p
{
    font-weight: 600;
}
/*SKILLS STYLE*/
.skills-wrapper
{
    width: 80%;
    height: 80vh;
    margin: 25px auto;
    display: flex;
    flex-flow: column nowrap;
}
.skills-wrapper h1 {font-size: 36px; text-align: center; color: var(--pink-color);}
.skills-wrapper h2 {width: 100% ; font-size: 24px; color: var(--orange-color);}

.codeSkill
{
    display:grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-gap: 25px;

}
.skill-header-one{grid-column: 1/3; grid-row:1/2;}
.skill-header-two{grid-column: 3/4;grid-row:1/2;}
/*sort Skillcard */
.html-skill{grid-column: 1/2;}
.css-skill{grid-column: 1/2;}
.javascript-skill{grid-column: 1/2;}
.react-skill{grid-column: 2/3; grid-row:2/3;}
.net-skill{grid-column: 2/3; grid-row:3/4;}
.unity-skill{grid-column: 2/3; grid-row:4/5;}
.photoshop-skill{grid-column: 3/4; grid-row: 2/3;}
.corel-skill{grid-column: 3/4; grid-row: 3/4;}
.figma-skill{grid-column: 3/4; grid-row: 4/5;}
.socialMedia-wrapper
{
    width: 90%;
    height: 40%;
    display: grid;     
    grid-template-columns: repeat(3,1fr);
}
.card
{
    width: 250px;
    height: 50px;
    border: 0;
    outline: none;
    background-color: var(--black-color);
    cursor: pointer;
    position: relative;
    margin-right: 25px;
    font-family: Tomorrow, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    box-shadow: 0 18px 10px 0 rgba(0, 0, 0, 0.2);
}
.card_content
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color:var(--yellow-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    transition: 0.3s;
}
.card_content:hover
{
    background-color: var(--red-color);
    color: var(--white-color);
}
.socialMedia-card
{
    height: 65px;
    width: 300px;
    margin:auto;
    flex: 0 1 auto;
}
.skill-wrapper
{
    display: flex;
    width: 350px;
    height: 80px;
    margin: 5px auto;
    align-items: center;
    background-color: var(--marine-blue-color);
    cursor: default;
    
}
.skill-label
{
    margin: auto;
    flex: 0  0 auto;
    
}
.skill-level
{
    width: 65px;
    height: 25px;
    flex: 0 0 auto;
    margin: 0;
}
.level-one{ background: linear-gradient(var(--blue-color),var(--blue-color));}
.level-two{background: linear-gradient(to left,var(--pink-color),var(--blue-color),var(--blue-color));}
.level-three{background:linear-gradient(to left,var(--red-color),var(--pink-color),var(--pink-color));}

/*WORK STYLES*/
.work-wrapper
{

    background: url(images/workBG.jpg);
    background-size: contain;
    background-repeat: repeat-x;
}
.work-items-wrapper
{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.work-item
{
    
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    
}

.work-item a 
{
    color: transparent;
    
}
.work-item a:hover
{
    color: var(--white-color);
    background: rgba(0, 0, 0, 0.5)
}

.work-text
{
    flex-flow: column;
    background: none;
    
}
.work-product
{
    background: url(images/work01.PNG);
    background-size: cover; 
}
.work-landing
{
    background: url(images/work02.PNG);
    background-size: cover; 
}
.work-news
{
    background: url(images/work03.PNG); 
    background-size: cover; 
}
/*Footer Styles*/
.footer-wrapper
{
    width: 100%;
    height: 80px;
    position: relative;
}

.info-wrapper
{
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    text-align: center;
}
.info-wrapper h2 
{ 
    margin: 0 29% 0 auto;
    font-size: 36px;
}
@media all and (max-width:1000px)
{   /*Nav responsive*/
    .nav-header-wrapper
    {
        
    }
    .nav-header-wrapper ul
    {
        margin: auto;
    }
    .nav-header-wrapper h2
    {
        display: none;
    }
    .nav-link-wrapper:last-child
    {
        margin: auto;
    }
    .nav-link:first-child
    {
        display: none;
    }
    /*Home responsive**/
    .home-wrapper
    {
        height: auto;
        padding-top: 15vh;
    }
    .left-column
    {
        flex: auto;
        width: 100%;
    }
    .left-column h3
    {
        font-size: 9px;
    }
    .buttons-wrapper 
    {
        flex-direction: column;
    }
    .cy-btn
    {
        margin: 10px 0;
    }
    .right-column
    {
        display: none;
    }
    /*About responsive*/
    .about-wrapper
    {
        height: auto;
    }
    .socialMedia-wrapper
    {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }
    .about-box-wrapper 
    {
        margin: 0;
        padding: 0;
        clip-path: none;
    }
    /*Skills responsive*/
    .skills-wrapper
    {
        height: auto;
        width: auto;
        margin: auto;
    }
    .codeSkill
    {
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-row-gap: 25px;
    }
    /*sort Skillcard */
    .html-skill{grid-column: 1/2; grid-row:2/3;}
    .css-skill{grid-column: 1/2; grid-row:3/4;}
    .javascript-skill{grid-column: 1/2; grid-row:4/5;}
    .react-skill{grid-column: 1/2; grid-row:5/6;}
    .net-skill{grid-column: 1/2; grid-row:6/7;}
    .unity-skill{grid-column: 1/2; grid-row:7/8;}
    .photoshop-skill{grid-column: 1/2; grid-row: 9/10;}
    .corel-skill{grid-column: 1/2; grid-row: 10/11;}
    .figma-skill{grid-column: 1/2; grid-row: 11/12;}
    .skill-header-two 
    {
        grid-column: 1/2;
        grid-row: 8/9;
    }
    /*Work Responsive*/
    .work-wrapper
    {
        background-repeat:repeat;
    }
    /*Footer responsive*/
    .info-wrapper
    {
        justify-content: center;
    }
    .info-wrapper h2
    {
        display: none;
    }
}